* {
  margin: 0px;
  padding: 0px;
}
.container {
  background-color: white;
  overflow: hidden;
}
.container .red-image {
  background-image: url(../images/bg-pattern-intro-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 99, 71, 0.808);
  border-bottom-left-radius: 60px;
}
.container .red-image .menu {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
}
.container .red-image .menu .blogr {
  display: flex;
  gap: 35px;
  font-family: sans-serif;
  color: white;
  font-size: 23px;
}
.container .red-image .menu .blogr .anker a {
  font-size: 14px;
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}
.container .red-image .menu .blogr .anker .content {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 12px;
  width: 90px;
  border-radius: 6px;
}
.container .red-image .menu .blogr .anker .content a {
  display: block;
  color: blue;
  padding: 5px;
}
.container .red-image .menu .blogr .anker:hover .content {
  display: block;
}
.container .red-image .menu .login .login1 {
  color: aliceblue;
  border: none;
  padding: 10px 10px;
  width: 90px;
  border-radius: 26px;
  font-weight: bold;
}
.container .red-image .menu .login .login2 button {
  color: rgb(235, 36, 36);
  border: none;
  background-color: white;
  padding: 10px 15px;
  width: 99px;
  border-radius: 26px;
  font-weight: bold;
}
.container .red-image .menu .login .login2 button:hover {
  background-color: rgba(255, 99, 71, 0.671);
  color: aliceblue;
  transition: all 0.5s ease-in;
}
.container .red-image .menu .login {
  display: flex;
  width: 90px;
  gap: 18px;
  font-family: sans-serif;
}
.container .red-image .text {
  text-align: center;
  align-items: center;
  color: aliceblue;
  font-family: sans-serif;
  margin-top: 70px;
  padding-bottom: 70px;
}
.container .red-image .text h2 {
  font-size: 35px;
}
.container .red-image .text p {
  font-size: 17px;
  margin-top: 16px;
}
.container .red-image .text .btn {
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  gap: 12px;
}
.container .red-image .text .btn .btn1 button {
  border: none;
  background-color: white;
  color: red;
  padding: 18px 20px;
  font-weight: bold;
  border-radius: 26px;
}
.container .red-image .text .btn .btn1 button:hover {
  background-color: rgba(255, 99, 71, 0.671);
  color: aliceblue;
  transition: all 0.5s ease-in;
}
.container .red-image .text .btn .btn2 button {
  border: none;
  background-color: rgba(255, 99, 71, 0.671);
  color: aliceblue;
  padding: 18px 26px;
  font-weight: bold;
  border: 1px solid rgba(252, 157, 141, 0.808);
  border-radius: 27px;
}
.container .red-image .text .btn .btn2 button:hover {
  background-color: white;
  color: red;
  transition: all 0.5s ease-in;
}
.container .main .head {
  text-align: center;
  font-family: sans-serif;
  font-size: 27px;
  margin-top: 60px;
  color: rgb(36, 36, 87);
}
.container .main {
  background-image: url(../images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-size: 580px;
  background-position: right;
  margin-right: -156px;
  /* padding-bottom: 140px; */
}
.container .main .image .para {
  font-family: sans-serif;
  color: rgb(43, 43, 88);
  margin-top: 60px;
  margin-left: 90px;
  width: 700px;
}
.container .main .image .para h4 {
  font-size: 19px;
}
.container .main .image .para p {
  font-size: 14px;
  margin-top: 14px;
  line-height: 22px;
  padding-bottom: 49px;
  letter-spacing: 0.5px;
  color: rgba(43, 43, 88, 0.822);
}
.container .phone1 {
  background-color: rgb(71, 71, 104);
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  height: 315px;
  margin-top: 35px;
}
.container .phone {
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: -150px -390px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-color: rgb(53, 53, 83);
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  height: 330px;
  margin-top: 68px;
}
.container .phone .something {
  display: flex;
  color: aliceblue;
}
.container .phone .something .icon img {
  height: 400px;
  margin-left: 50px;
}
.container .phone .something .font {
  margin-top: 9%;
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 12%;
  margin-right: 90px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.container .phone .something .font h4 {
  padding-bottom: 14px;
  font-size: 23px;
}
.container .teli {
  background-image: url(../images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-size: 660px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 80px;
  margin-left: -187px;
  padding-bottom: 150px;
}

.container .teli .free {
  margin-top: 8.5%;
  margin-right: 12%;
  color: rgb(35, 35, 85);
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 46%;
  font-size: 24px;
}
.container .teli .free p {
  font-size: 14px;
  margin-top: 23px;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
  /* margin-left: 490px; */
  line-height: 22px;
}
.container .blogr1 {
  display: flex;
  padding-bottom: 30px;
  background-color: black;
  color: white;
  margin-top: 70px;
  border-top-right-radius: 60px;
}
.container .blogr1 .blogr2 {
  font-family: sans-serif;
  margin-top: 40px;
  margin-left: 12%;
  margin-right: 12%;
}
.container .blogr1 .blogr3 {
  margin-top: 44px;
  font-family: sans-serif;
  margin-right: 11%;
}
.container .blogr1 .blogr3 a {
  font-size: 14px;
  text-decoration: none;
  color: aliceblue;
  display: block;
  padding: 8px;
}
.container .blogr1 .blogr3 h4 {
  padding-bottom: 12px;
}
@media screen and (max-width: 600px) {
  .container .red-image .menu .blogr h3 {
    font-size: 29px;
    margin-top: 15px;
  }

  .container .red-image .menu .anker,
  .login .login1,
  .login2 {
    display: none;
  }
  .container .red-image .text h2 {
    font-size: 25px;
    align-items: center;
  }
  .container .red-image .text p {
    font-size: 14px;
  }
  .container .red-image .text button {
    font-size: 13px;
  }
  .container .main .head h3 {
    font-size: 22px;
    padding-bottom: 20px;
  }
  .container .main {
    background-image: url(../images/illustration-editor-mobile.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    margin: auto;
    background-position: center;
    /* margin-top: 60px; */
  }
  .container .main .image {
    align-items: center;
  }
  .container .phone {
    height: 470px;
    margin-top: 90px;
    background-size: contain;
    /* background-position: center; */
    background-position: -10px -190px;
  }
  .container .phone .something {
    display: block;
    text-align: center;
  }
  .container .phone .something h4 {
    font-size: 15px;
    margin-top: -30px;
    text-align: center;
  }
  .container .phone .something .icon img {
    width: 300px;
    height: 300px;
    margin-top: -60px;
  }

  .container .teli {
    display: block;
    overflow: hidden;
  }
  .container .teli .anything img {
    width: 250px;
    margin: auto;
  }
  .container .teli .free {
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container .blogr1 {
    display: block;
    align-items: center;
    text-align: center;
  }
}
